.Die {
    margin: 0.5rem;
    height: 120px;
    width: 120px;
    border-radius: 10px;
    flex: 0 0 auto;
    
    padding: .5rem;
    background-color: white;
    color: black;
    font-size: 2rem;
    box-shadow:
        inset 0 5px white,
        inset 0 -5px #bbb,
        inset 5px 0 #d7d7d7,
        inset -5px 0 #d7d7d7;
    display: grid;
    grid-template-areas:
        "a . c"
        "e g f"
        "d . b";
}



/* face-2 css with two dots*/


.Die .Dot:nth-child(2) {
    grid-area: b;
}
.Die .Dot:nth-child(3) {
    grid-area: c;
}
.Die .Dot:nth-child(4) {
    grid-area: d;
}
.Die .Dot:nth-child(5) {
    grid-area: e;
}
.Die .Dot:nth-child(6) {
    grid-area: f;
}
/* This selects the last pip of odd-valued dice (1,3,4) and positions the dot in the center*/
.Die .Dot:nth-child(odd):last-child {
	grid-area: g;
}